.cabecalho ul li{
    display: inline;
    padding: 10%;
}

.corpo{
    background-color: red;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-attachment: fixed;
    background-image: linear-gradient(to bottom,black 20%, red 90%);
    color: white;
}

.corpo a{
    text-decoration: none;
}

.corpo div img{
    display: inline;
}

.corpo div p{
    position: absolute;
}